/*
    セレクタ
a, b
a b
a > b
a + b
ab
*/

/*
h1 と p に対してスタイル適用
h1, p {color: skyblue;}
*/

/*
divの下にあるspanに対して適用
div span {color: skyblue;}
*/

/*
div 直下にある span だけに対して適用
div > span {color: skyblue;}
*/

/*
p の次にある p に対して適用
p + p { color:skyblue; }
*/

/*
p であり、かつ points が付いているものに適用
*/
p.points {color:skyblue;}