/*
    属性セレクタ
 */

/*
a タグがあり[title]属性があるものに適用
a[title] {color: skyblue;}
*/

/*
a タグの [href]属性が"http://google.com"だったら適用
完全一致する場合に使える
a[href="http://google.com"] {color: orange;}
*/

/*
a タグの[class]属性に search が"含まれているもの"に適用
*/
a[class~="search"] {color: violet;}